@font-face {
    font-family: 'AbstractGroovy';
    src: url('../fonts/abstractgroovy.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    color: black;
    height: 100%;
    width: 100%;
    font-family: 'AbstractGroovy';
    background-image: url('../images/wwwroot/fatherbaconsizzle_small_oval_whiteborder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 35%;
}

/* Fallback for mobile devices */
@media (max-width: 767px) {
    body {
        background-attachment: fixed; /* Reapply fixed for mobile */
        background-size: 70vw; /* Adjust size for smaller screens */
    }
}

.section {
    /* text-align: center; */
    position: relative;
    width: 85%;
    height: auto;
    background-color: rgb(237, 234, 234, 0.85); /* Semi-transparent background */
    border-style: solid;
    border-color: black;
    z-index: 2;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.sectionTransparent {
    background-color: rgb(255,255,255,0);
}

.SectionContent {
    max-width: 100%;
    max-width: 350px; /* Maximum pixel width */
    max-height: 100%;
    max-height: 240px;
    height: auto;

    padding: 70px;
}

video {
    max-width: 100%;
    max-width: 320px; /* Maximum pixel width */
    max-height: 100%;
    max-height: 240px;
    height: auto;
    padding: 70px;
}

.photo-slider, .video-slider {
    max-width: 600px;
    margin: 0 auto;
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Set text color to white for contrast */
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-prev:active, .slick-next:active {
    background-color: black; /* Maintain black background color */
    color: white; /* Maintain white text color */
    outline: none; /* Remove outline when button is clicked */
}
    .slick-prev:focus, .slick-next:focus {
        outline: none; /* Remove outline when button is focused */
    }

    .slick-prev:hover, .slick-next:hover {
        background-color: black; /* Ensure button stays black on hover */
        color: white; /* Ensure text stays white on hover */
    }

.slick-slide img {
    transition: transform 0.3s ease;
}

.slick-center img {
    transform: scale(1.5);
}
.slick-center video {
    transform: scale(1.5);
}

.video-slider video {
    display: block;
    margin: 0 auto;
}

.video-slider {
    padding: 20px; /* Add padding around the video slider */
}

.video-slider .slick-slide {
    padding: 10px; /* Add padding around each video */
}