html, body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    color: black;
    height: 100%;
    width: 100%;
    font-family: 'AbstractGroovy';
    background-image: url('../images/wwwroot/fatherbaconsizzle_small_oval_whiteborder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 35%;
}

.section {
    /* text-align: center; */
    position: relative;
    width: 85%;
    height: auto;
    background-color: rgb(237, 234, 234, 0.85); /* Semi-transparent background */
    border-style: solid;
    border-color: black;
    z-index: 2;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.sectionTransparent {
    background-color: rgb(255,255,255,0);
}

.SectionContent {
    max-width: 100%;
    max-width: 350px; /* Maximum pixel width */
    height: auto;
    padding: 70px
}

@font-face {
    font-family: 'AbstractGroovy';
    src: url('../fonts/AbstractGroovy-K7Zdy.ttf') format('truetype');
}