html, body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    color: black;
    height: 100%;
    width: 100%;
    font-family: 'AbstractGroovy';
    background-image: url('../images/wwwroot/fatherbaconsizzle_small_oval_whiteborder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
    background-color: rgba(0, 0, 0, 0.7);  Semi-transparent background
}

input, select, textarea {
    font-family: Arial, sans-serif;
    padding: 2px 2px 2px 2px;
}

.section {
    padding: 2rem;
    /* text-align: center; */
    position: relative;
    width: 85%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.95); /* Semi-transparent background */
    border-style: solid;
    border-color: black;
    z-index: 2;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.sectionTransparent {
    background-color: rgb(255,255,255,0);
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.footer {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

    .footer a {
        color: white;
        margin: 0 0.5rem;
        text-decoration: none;
    }

@font-face {
    font-family: 'AbstractGroovy';
    src: url('../fonts/AbstractGroovy-K7Zdy.ttf') format('truetype');
}