<footer class="footer">
    <a href="https://www.facebook.com/fatherbaconsizzle" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/fatherbaconsizzle" target="_blank">Instagram</a>
</footer>