<footer class="container-fluid fixed-bottom text-center bg-dark text-light">
    <a href="https://www.facebook.com/fatherbaconsizzle" class="text-light" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/fatherbaconsizzle" class="text-light" target="_blank">Instagram</a>
</footer>