<div class="container-fluid fixed-top text-center bg-dark text-light">
    <a class="navbar-brand text-right" href="#">
        <img src="images/wwwroot/fatherbaconsizzle_small_oval_whiteborder.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">&nbsp;&nbsp;
    </a>
    <a class="navbar-brand " href="#">
        Father Bacon & The Sizzle
    </a>
    <a class="navbar-brand text-right" href="#">
        <img src="images/wwwroot/fatherbaconsizzle_small_oval_whiteborder.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">&nbsp;&nbsp;
    </a>
</div>