<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href="#">
            Father Bacon & The Sizzle
        </a>
        <a class="navbar-brand text-right" href="#">
            <img src="images/wwwroot/fatherbaconsizzle_small_oval_whiteborder.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">&nbsp;&nbsp;
        </a>
    </div>
</nav>