<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-left" href="#">
            <img src="images//wwwroot/fatherbaconsizzle_small_oval_whiteborder.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">&nbsp;&nbsp;
        </a>
        <a class="navbar-brand text-center" href="#">
            Father Bacon & The Sizzle
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#intro">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#photos">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#videos">Videos</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
            </ul>
        </div>
    </div>
</nav>