<section id="introX" class="section">
    <h2>Intro</h2>
    <p>Welcome to the official website of FATHER BACON AND THE SIZZLE! 
        We are a reggae-inspired rock band lookin' to make the world a happier place with some musical love for all!
    </p>
        Based out of Colorado Springs, CO, we are a two-person band (often collaborating with others) adding loops and dub-style djembe beats for a fun and full sound you won't want to miss!!
        Stay tuned and feel the sizzle!
</section>