@inject HttpClient HttpClient

<section id="VideosX" class="section">
    <h2>Videos</h2>

    <div class="video-slider">
        <div><video width="320" height="240" controls alt="Video"><source src="Videos/1.mp4" type="video/mp4"></video></div>
        <div><video width="320" height="240" controls alt="Video"><source src="Videos/2.mp4" type="video/mp4"></video></div>
        <div><video width="320" height="240" controls alt="Video"><source src="Videos/3.mp4" type="video/mp4"></video></div>
        <div><video width="320" height="240" controls alt="Video"><source src="Videos/4.mp4" type="video/mp4"></video></div>
        <div><video width="320" height="240" controls alt="Video"><source src="Videos/5.mp4" type="video/mp4"></video></div>
        <div><a href="https://www.facebook.com/FatherBaconSizzle/videos" class="SectionContent">See more videos <br />on our facebook page</a></div>
    </div>
</section>


