@inject HttpClient HttpClient

<section id="VideosX" class="section">
    <h2>Videos</h2>

    <div class="video-slider">
        <div><video class="SectionContent" controls alt="Video" poster="Videos/1.jpg"><source src="Videos/1.mp4" type="video/mp4"></video></div>
        <div><video class="SectionContent" controls alt="Video" poster="Videos/2.jpg"><source src="Videos/2.mp4" type="video/mp4"></video></div>
        <div><video class="SectionContent" controls alt="Video" poster="Videos/3.jpg"><source src="Videos/3.mp4" type="video/mp4"></video></div>
        <div><video class="SectionContent" controls alt="Video" poster="Videos/4.jpg"><source src="Videos/4.mp4" type="video/mp4"></video></div>
        <div><video class="SectionContent" controls alt="Video" poster="Videos/5.jpg"><source src="Videos/5.mp4" type="video/mp4"></video></div>
        
        <div><a href="https://www.facebook.com/FatherBaconSizzle/videos" class="video d-flex align-items-center">See more videos <br />on our facebook page</a></div>
    </div>
</section>


