@inject IJSRuntime JSRuntime

@page "/"

<div>

    <p id="intro" class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <BandWebsite.Pages.Controls.Intro />

    <p id="photos" class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <BandWebsite.Pages.Controls.Photos />


    <p id="videos" class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <BandWebsite.Pages.Controls.Videos />

    <p id="events" class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <BandWebsite.Pages.Controls.Events />

    <p id="contact" class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <p class="sectionTransparent">&nbsp;</p>
    <BandWebsite.Pages.Controls.Contact />

</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeSlickSlider");
        }
    }
}